<!doctype html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	<title>Hello from Flask</title>
	{% if name %}
	  <h1>Hello {{ name }}!</h1>
	  <h1>{{ data }}</h1>
	{% else %}
	  <h1>Hello, World!</h1>
	{% endif %}
</body>