<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota</title>
    {% include 'include/style.html' %}
</head>

<body style="background-color: #252b39;">
    <h1 class="text-left" style="color: rgb(254,254,254);margin: 4px;width: auto;font-family: Lato, sans-serif;margin-left: 10px;"><strong>Welcome to ιota</strong><br></h1>
    <h5 style="color: rgb(254,254,254);padding: 2px;width: 75%;font-family: Lato, sans-serif;margin: 10px;">Solution de gestion et correction d'exercices élémentaires de programmation<br></h5>
    <section>
        <div id="side" style="width: 25%;background-color: #343556;padding: 0;">
            <div class="container border rounded" id="connexion" style="width: 100%;height: 38%;display: block;margin-left: auto;margin-top: 49%;font-family: Lato, sans-serif;border: 0px!important;padding-right: 19px;padding-left: 17px;">
                <div class="row">
                    <div class="col">
                        <h3 style="color: rgb(255,255,255);padding-bottom: 54px;"><strong>Connexion</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form method="POST" action="{{url_for('scr_connexion')}}">
							<input name="mail" class="border rounded form-control" type="text" style="margin-top: 3px;margin-bottom: 10px;" placeholder="e-mail">
							<input name="mdp" class="border rounded form-control" type="password" style="margin-bottom: 0px;margin-top: 3px;" placeholder="mot de passe">
							{% if err: %}
								<div style="color:red">{{err}}</div>
							{% endif %}
							<div class="col" style="padding-top: 41px;padding-left: 34%;">
								<button class="btn btn-primary" type="submit" style="background-color: #619F72;">Connexion</button>
							</div>
						</form>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col" style="padding-top: 41px;padding-left: 34%;">
						<button class="btn btn-primary" type="button" style="background-color: #619F72;">Connexion</button>
					</div>
                </div>-->
            </div>
        </div>
    </section>
    <div class="container border rounded" id="inscription" style="width: 39%;height: 30%;display: block;margin-left: auto;margin-right: 41%;margin-top: 12%;background-color: #343560;font-family: Lato, sans-serif;border: 0px!important;padding-right: 14px;padding-left: 14px;padding-bottom: 15px;">
        <div class="row">
            <div class="col">
                <h3 style="color: rgb(255,255,255);"><strong>Inscription</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col"><a class="btn btn-primary p-2" role="button" style="width: 50%;margin: 9px;margin-bottom: -1px;margin-right: 0%;margin-left: 25%;" href="{{url_for('ens_inscription')}}">Vous êtes enseignant</a><a class="btn btn-primary p-2" role="button"
                    style="width: 50%;margin: 9px;margin-bottom: -1px;margin-right: 0%;margin-left: 25%;" href="{{url_for('etu_insctiprion')}}">Vous êtes étudiant</a></div>
        </div>
    </div><img src="{{ url_for('static',filename='img/iota-blue.png') }}" style="width: 198px;bottom: 0;position: absolute;margin-bottom: 1.5%;">
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    {% include 'include/script.html' %}
</body>

</html>
