<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota-test</title>
    {% include 'include/style.html' %}
</head>

<body style="background-color: #252b39;">
    <section></section>
    <div class="container border rounded" id="inscription" style="width: 39%;height: 30%;display: block;margin-left: auto;margin-right: 31%;margin-top: 8%;background-color: #343560;font-family: Lato, sans-serif;border: 0px!important;padding-right: 14px;padding-left: 14px;padding-bottom: 15px;">
        <div class="row">
            <div class="col">
                <h3 style="color: rgb(255,255,255);margin-bottom: 3%;"><strong>Inscription étudiant</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{{url_for('scr_gest_inscription', action='add')}}">
                    <div class="form-group">
					<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;" 
						name="prenom" placeholder="Prénom" required="">
					<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 28px;margin-left: 13%;margin-bottom: 1%;"
                        name="nom" placeholder="Nom" required="">
					<input class="form-control" type="email" style="width: 75%;height: 28px;margin-bottom: 1%;margin-left: 13%;border-radius: 30px;" 
						name="email" placeholder="E-mail" required="">
					<input class="form-control" type="password" style="border-radius: 30px;width: 75%;height: 28px;margin-bottom: 1%;margin-left: 13%;"
						name="password" placeholder="Mot de passe" required="">
					<input class="form-control" type="password" style="border-radius: 30px;width: 75%;height: 28px;margin-bottom: 1%;margin-left: 13%;" 
						name="password-conf" placeholder="Confirmation du mot de passe"
						required="">
					<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 28px;margin-left: 13%;margin-bottom: 1%;" 
						name="niveau" placeholder="Niveau" required=""><button class="btn btn-primary" type="submit"
						style="width: 40%;margin-left: 30%;margin-top: 3%;">Inscription</button></div>
					<input type="hidden" name="type" value="eleve">
                </form>
            </div>
        </div>
    </div>
	<img src="{{ url_for('static',filename='img/iota-blue.png') }}" style="width: 198px;top: 0;position: absolute;margin-top: -1.5%;">
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    {% include 'include/script.html' %}
</body>

</html>
