<style>
        #navdiv {
            background-color: #2f3140;
            width: 6%;
            text-align: center;
            display: block;
            margin: 1%;
            margin-left: -5%;
            border-radius: 0px 21px 21px 0px;
	        border: 1px solid #5f6069;
	        border-left: 0px;
            bottom: 0;
            position: absolute;
            transition: 0.5s;
	        z-index: 200;
        }

        #navdiv:hover {
            margin-left: 0%;
        }

        .imgnav {
            width: 70%;
            height: auto;
            margin: auto;
	        margin-bottom: 10px;
        }

	    .imgnav:hover {
		    filter: brightness(150%);
	    }
</style>

<div id="navdiv">
		{% if session['user'][6] == 'eleve': %}
			<a href="{{ url_for('etu_dashboard') }}"><img src="{{ url_for('static',filename='img/button-home.png') }}"
			                                              class="imgnav"></a>
		{% endif %}
		{% if session['user'][6] == 'enseignant': %}
			<a href="{{ url_for('ens_dashboard') }}"><img src="{{ url_for('static',filename='img/button-home.png') }}"
			                                              class="imgnav"></a>
		{% endif %}
	<a href="{{ url_for('scr_deconnexion') }}"><img src="{{ url_for('static',filename='img/exit-icon.png') }}"
	                                                class="imgnav" style="width: 55%;"></a>
</div>
