<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap-4-Custom-Radio.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Footer-Basic.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Footer-Dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/List-item.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Popup-Element-Overlay-1.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Popup-Element-Overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar-1.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Sidebar-right-opening.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/text-box.css') }}">