a, a:hover, a:focus {
  right: 0;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

i, span {
  display: flex;
  left: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-header h3, #sidebar .CTAs {
    display: none;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-header strong {
    display: block;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a {
    padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  #sidebar ul ul a {
    padding: 10px !important;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a i {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
}

#inscription {
  border: 9px;
  padding: 10px;
  border-radius: 19px!important;
}

