.rotate {
  position: absolute;
  height: auto;
  bottom: 55px;
  left: -30px;
  transform: rotate(-90deg);
  font-size: 25px;
  overflow: hidden;
  font-family: courier;
  color: white;
}

.menu {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: seagreen;
  -webkit-transition: all 1s;
  transition: all 1s;
  right: 0;
  z-index: 50;
  overflow-y: auto;
  padding-bottom: 100px;
}

.menu.closed {
  right: -250px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 85px 0 0 40px;
  padding-right: 40px;
}

.menu ul li {
  color: floralwhite;
  font-size: 20px;
  margin: 0 0 5px 0;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu ul li:hover {
  background-color: #3bb16f;
  cursor: pointer;
}

#side {
  background-color: seagreen;
  height: 100%;
  min-height: 100%;
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  z-index: 25;
  /*-webkit-transition: all .7s ease;*/
  /*transition: all .7s ease;*/
}

#toggle.closed {
  right: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

