<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota-test</title>
    {% include 'include/style.html' %}
</head>

<body style="background-color: #252b39;">
    <h1 class="text-left toblur" style="color: rgb(254,254,254);padding: 1px;width: 36%;font-family: Lato, sans-serif;margin-left: 1%;padding-top: 15px;"><strong>Bonjour, Etudiant</strong><br></h1>
    <h3 class="toblur" style="color: rgb(254,254,254);width: auto;font-family: Lato, sans-serif;margin-bottom: 5px;margin-top: 1%;margin-left: 5%;"><strong>Mes Workspaces</strong></h3>
    <section></section>
    <div class="container-fluid border rounded border-dark shadow d-inline d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center toblur"
        style="border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 2%;flex-basis: 30%!important;">
        <div class="row" style="width: 100%;">
			{% for row in data: %}
				<a href="{{ url_for('etu_workspace', id_ws=row[0]) }}" class="col-p" style="width: 15%;margin: 1%;padding-top: 10px;border-radius: 30px;background-color: #3e4f63;height: 77px;">
					<div class="col"
					     style="">
						<span style="color: rgb(218,221,224);/*font-size: 18px;*/margin-top: 4px;margin-left: 4px;">{{ row[1] }}</span>
					</div>
				</a>
			{% endfor %}
            <div class="col" style="border-radius: 30px;width: 15%;background-color: #3e4f63;height: 77px;padding-top: 10px;margin: 1%;">
				<img id="addws" src="{{ url_for('static',filename='img/pngguru.com.png') }}" style="width: 55px;text-align: center!important;margin-left: auto;margin-right: auto;display: block;">
			</div>
        </div>
        <div class="row" style="width: 100%;"></div>
    </div>
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    <div class="container-fluid border rounded border-dark shadow d-flex d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center" id="popup"
        style="display: block;/*position: relative!important;*/z-index: 10;border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 3%;flex-basis: 30%!important;position: absolute;top: 30%;left: 30%;height: 259px;width: 500px;z-index: 99;display: block;visibility: hidden;">
		<img class="d-lg-flex justify-content-lg-end align-items-lg-start" id="cross" src="{{ url_for('static',filename='img/cross.png') }}" style="width: 5%;right: 0;top: 0;position: absolute;margin: 26px;margin-top: 19px;opacity: 0.82;z-index: 10;">
        <h1 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start"
            style="color: rgb(254,254,254);width: 100%;font-family: Lato, sans-serif;margin-left: 4%;top: 0;position: absolute;margin-top: 2%;visibility: inherit;"><strong>Rejoindre un workspace</strong></h1>
        <h5 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start" style="color: rgb(254,254,254);width: 94%;font-family: Lato, sans-serif;margin-left: 1%;top: 0;position: absolute;visibility: inherit;margin-top: 11%;"><strong>Saisissez le code d'invitation du workspace (8 ch)</strong></h5>
	    <form style="width: 113%;margin-top: 49px;" method="POST" action="{{ url_for("scr_add_ws") }}">
		    <input pattern=".{8,8}" class="form-control" type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" style="border-radius: 30px;width: 75%;height: 70px;margin-bottom: 1%;text-align: center;font-size: xx-large;right: 0;left: 0;margin: auto;margin-top: -33px;text-transform: uppercase;" name="code" placeholder="________" required autofocus="" maxlength="8">
		    <button class="btn btn-primary" type="submit"
		            style="position: absolute;width: 23%;margin-top: 2%;height: 17%;border-radius: 15px;right: 0;margin-right: 6%;bottom: 0;">
			    Rejoindre
		    </button>
	    </form>
    </div>
    {% include 'include/script.html' %}
    {% include 'include/nav.html' %}
</body>

</html>
