<!DOCTYPE html>
<html style="z-index: 1;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota-test</title>
    {% include 'include/style.html' %}
</head>

<body style="z-index: 1;background-color: #252b39;">
	{%print(data)%}
    <h3 class="toblur" style="z-index: inherit;color: rgb(254,254,254);padding: 1px;width: 36%;font-family: Lato, sans-serif;margin-left: 5%;"><strong>Complétez le champ "Code de la fonction"</strong></h3>
	<form method="POST" action="{{url_for('scr_gest_reponse', action='add')}}" style="width: 113%;margin-top: 4%;">
		<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;" 
			name="nom" placeholder="Nom de l'exercice" required="" autofocus="" readonly="" value="{{data[2]}}">
		<!--<textarea class="form-control" style="border-radius: 20px;width: 75%;height: 59px;margin-left: 13%;margin-bottom: 1%;resize: none;"
			name="description" placeholder="Description" required="" maxlength="140" readonly=""></textarea>-->
		<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;font-family: 'Roboto Mono', monospace;"
			name="nomfonc" placeholder="Nom de la fonction à rendre" required="" autofocus="" readonly="" value="{{data[2]}}">
		<input type="hidden" id="timeout" name="timeout" required readonly="" value="{{ data[8] }}" style="padding-left: 9px; border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;font-family: 'Roboto Mono', monospace;">
		<input name="code_languages" class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;font-family: 'Roboto Mono', monospace;"
			autofocus="" readonly="" value="{{data[6]}}">
		<!--<select class="form-control" style="border-radius: 30px;width: 75%;height: 35px;margin-left: 13%;margin-bottom: 1%;" required="" readonly="" disabled=""><optgroup label="Langage"><option value="py">Python</option><option value="c">C</option><option value="cpp">C++</option></optgroup></select>-->
		<textarea
			class="form-control" style="border-radius: 20px;width: 75%;height: 167px;margin-left: 13%;margin-bottom: 1%;resize: none;font-family: 'Roboto Mono', monospace;" 
			name="funcbody" placeholder="Code de la fonction" required="" maxlength="140">{{data[3]}}</textarea>
		<input type="hidden" name="id_exo" value="{{data[0]}}">
		<input type="hidden" name="exo_path" value="{{data[7]}}">
		<button class="btn btn-primary" type="submit" style="position: absolute;width: 26%;/*margin-top: 15%;*/height: 12%;border-radius: 15px;right: 0;margin-right: 6%;bottom: 0;">Soumettre</button></form>
	<div class="custom-control custom-radio"><input type="radio" id="healthyes" class="custom-control-input"></div>
	<div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    {% include 'include/script.html' %}
    {% include 'include/nav.html' %}
</body>

</html>
