<!DOCTYPE html>
<html style="z-index: 1;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Résultat</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="../../static/css/Bootstrap-4-Custom-Radio.css">
    <link rel="stylesheet" href="../../static/css/Footer-Basic.css">
    <link rel="stylesheet" href="../../static/css/Footer-Dark.css">
    <link rel="stylesheet" href="../../static/css/List-item.css">
    <link rel="stylesheet" href="../../static/css/Popup-Element-Overlay-1.css">
    <link rel="stylesheet" href="../../static/css/Popup-Element-Overlay.css">
    <link rel="stylesheet" href="../../static/css/sidebar-1.css">
    <link rel="stylesheet" href="../../static/css/Sidebar-right-opening.css">
    <link rel="stylesheet" href="../../static/css/sidebar.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/text-box.css">
</head>

<body style="z-index: 1;background-color: #252b39;">
    <h1 class="text-left toblur" style="color: rgb(254,254,254);width: auto;font-family: Lato, sans-serif;margin-bottom: 5px;margin-left: 1%;margin-top: 1%;"><strong>Résultat de votre soumission</strong></h1>
    <h3 class="toblur" style="z-index: inherit;color: rgb(254,254,254);padding: 1px;width: 36%;font-family: Lato, sans-serif;margin-left: 5%;margin-top: 18px;"><strong>Note : </strong>&nbsp;</h3>
    <div class="container-fluid border rounded border-dark shadow d-inline d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center toblur"
        style="z-index: 1;border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 2%;text-align: center;flex-basis: 30%!important;display: inline-block;padding-bottom: 3%;">
        <h1 class="text-left toblur" style="color: rgb(254,254,254);width: auto;font-family: Lato, sans-serif;/*margin-left: 1%;*//*margin-top: 1%;*/text-align: center;margin: auto;"><strong>{{score}} %</strong></h1>
    </div>
    <section></section>
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/Popup-Element-Overlay.js"></script>
</body>

</html>
