<!DOCTYPE html>
<html style="z-index: 1;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota-test</title>
    {% include 'include/style.html' %}
</head>

<body style="z-index: 1;background-color: #252b39;">
    <h1 class="text-left toblur" style="color: rgb(254,254,254);width: auto;font-family: Lato, sans-serif;margin-bottom: 5px;margin-left: 5%;margin-top: 1%;"><strong>{{data2[1]}}</strong></h1>
    <h3 class="toblur" style="z-index: inherit;color: rgb(254,254,254);padding: 1px;width: 36%;font-family: Lato, sans-serif;margin-left: 5%;"><strong>Exercices à rendre</strong></h3>
    <div class="container-fluid border rounded border-dark shadow d-inline d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center toblur"
        style="z-index: 1;border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 2%;flex-basis: 30%!important;">
        <div class="row" style="width: 100%;">
			{% for row in data: %}
				<a href="{{url_for('etu_reponse', id=row[0])}}" class="col col-p" style="border-radius: 30px;width: 15%;background-color: #3e4f63;height: 77px;padding-top: 10px;margin: 1%;">
					<div>
						<span style="color: rgb(218,221,224);/*font-size: 18px;*/margin-top: 4px;margin-left: 4px;">{{row[1]}}</span>
					</div>
				</a>
			{% endfor %}
        </div>
        <div class="row" style="width: 100%;"></div>
    </div>
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    <div class="container-fluid border rounded border-dark shadow d-flex d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center" id="popup"
        style="display: block;/*position: relative!important;*/z-index: 10;border-radius: 3rem!important;background-color: #3f445e;opacity: 1;position: absolute;top: 4%;left: 0;right: 0;height: 84%;width: 50%;z-index: 99;display: block;visibility: hidden;">
		<img class="d-lg-flex justify-content-lg-end align-items-lg-start" id="cross" src="{{ url_for('static',filename='img/cross.png') }}" style="width: 5%;right: 0;top: 0;position: absolute;margin: 26px;margin-top: 19px;opacity: 0.82;z-index: 10;">
        <h1 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start"
            style="color: rgb(254,254,254);width: 100%;font-family: Lato, sans-serif;margin-left: 4%;top: 0;position: absolute;margin-top: 2%;visibility: inherit;"><strong>Rendu d'exercice</strong></h1>
        <h5 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start" style="color: rgb(254,254,254);width: 94%;font-family: Lato, sans-serif;margin-left: 1%;top: 0;position: absolute;visibility: inherit;margin-top: 9%;"><strong>Complétez le champ "Code de la fonction"</strong></h5>
        <form method="POST" action="{{url_for('scr_gest_reponse', action='add')}}" style="width: 113%;margin-top: 4%;">
			<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;" 
				name="nom" placeholder="Nom de l'exercice" required="" autofocus="" readonly="">
			<textarea class="form-control" style="border-radius: 20px;width: 75%;height: 59px;margin-left: 13%;margin-bottom: 1%;resize: none;"
                name="description" placeholder="Description" required="" maxlength="140" readonly=""></textarea>
			<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;font-family: 'Roboto Mono', monospace;"
                name="nomfonc" placeholder="Nom de la fonction à rendre" required="" autofocus="" readonly="">
			<select class="form-control" style="border-radius: 30px;width: 75%;height: 35px;margin-left: 13%;margin-bottom: 1%;" required="" readonly="" disabled=""><optgroup label="Langage"><option value="py">Python</option><option value="c">C</option><option value="cpp">C++</option></optgroup></select>
            <textarea
                class="form-control" style="border-radius: 20px;width: 75%;height: 167px;margin-left: 13%;margin-bottom: 1%;resize: none;font-family: 'Roboto Mono', monospace;" 
				name="funcbody" placeholder="Code de la fonction" required="" maxlength="140"></textarea>
			<button class="btn btn-primary" type="submit" style="position: absolute;width: 26%;/*margin-top: 15%;*/height: 12%;border-radius: 15px;right: 0;margin-right: 6%;bottom: 0;">Soumettre</button></form>
        <div class="custom-control custom-radio"><input type="radio" id="healthyes" class="custom-control-input"></div>
    </div>
    {% include 'include/script.html' %}
    {% include 'include/nav.html' %}
</body>

</html>
