<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iota-test</title>
	{% include 'include/style.html' %}
	
	<!--<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="../assets/css/Bootstrap-4-Custom-Radio.css">
    <link rel="stylesheet" href="../assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../assets/css/List-item.css">
    <link rel="stylesheet" href="../assets/css/Popup-Element-Overlay-1.css">
    <link rel="stylesheet" href="../assets/css/Popup-Element-Overlay.css">
    <link rel="stylesheet" href="../assets/css/sidebar-1.css">
    <link rel="stylesheet" href="../assets/css/Sidebar-right-opening.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/text-box.css">-->
</head>

<body style="background-color: #252b39;">
	{{ session }}
    <h1 class="text-left toblur" style="color: rgb(254,254,254);padding: 1px;width: 36%;font-family: Lato, sans-serif;margin-left: 1%;padding-top: 15px;"><strong>Bonjour, Enseignant</strong><br></h1>
    <h3 class="toblur" style="color: rgb(254,254,254);width: auto;font-family: Lato, sans-serif;margin-bottom: 5px;margin-top: 1%;margin-left: 5%;"><strong>Mes Workspaces</strong></h3>
    <section></section>
    <div class="container-fluid border rounded border-dark shadow d-inline d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center toblur"
        style="border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 2%;flex-basis: 30%!important;">
        <div class="row" style="width: 100%;">
			{% for row in data: %}
				<div class="col col-p" style="border-radius: 30px;width: 15%;background-color: #3e4f63;height: 77px;padding-top: 10px;margin: 1%;">
					<a href="{{url_for('ens_workspace', id=row[0])}}"><span style="color: rgb(218,221,224);/*font-size: 18px;*/margin-top: 4px;margin-left: 4px;">{{row[1]}}</span></a>
				</div>
			{% endfor %}
        </div>
        <div class="row" style="width: 100%;">
            <div class="col" style="border-radius: 30px;width: 15%;background-color: #3e4f63;height: 77px;padding-top: 10px;margin: 1%;">
				<img id="addws" src="{{ url_for('static',filename='img/pngguru.com.png') }}" style="width: 55px;text-align: center!important;margin-left: auto;margin-right: auto;display: block;">
			</div>
        </div>
    </div>
    <div id="footer" class="footer-basic" style="height: 45px;">
        <footer>
            <p class="copyright">ιota&nbsp;© 2019</p>
        </footer>
    </div>
    <div class="container-fluid border rounded border-dark shadow d-flex d-lg-flex flex-row flex-grow-1 flex-shrink-0 flex-fill flex-wrap order-2 m-auto justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center" id="popup"
        style="display: block;/*position: relative!important;*/z-index: 10;border-radius: 3rem!important;background-color: #3f445e;opacity: 1;width: 92%;padding: 3%;flex-basis: 30%!important;position: absolute;top: 30%;left: 30%;height: 285px;width: 490px;z-index: 99;display: block;visibility: hidden;">
		<img class="d-lg-flex justify-content-lg-end align-items-lg-start" id="cross" src="{{ url_for('static',filename='img/cross.png') }}" style="width: 5%;right: 0;top: 0;position: absolute;margin: 26px;margin-top: 19px;opacity: 0.82;z-index: 10;">
        <h1 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start"
            style="color: rgb(254,254,254);width: 100%;font-family: Lato, sans-serif;margin-left: 4%;top: 0;position: absolute;margin-top: 2%;visibility: inherit;"><strong>Créer un workspace</strong></h1>
        <h5 class="text-left d-flex d-xl-flex justify-content-xl-start align-items-xl-start" style="color: rgb(254,254,254);width: 94%;font-family: Lato, sans-serif;margin-left: 1%;top: 0;position: absolute;visibility: inherit;margin-top: 11%;"><strong>Saisissez les informations relatives à votre workspace</strong></h5>
        <form method="POST" action="{{url_for('scr_gest_workspace', action='add')}}" style="width: 113%;margin-top: 49px;">
			<input class="form-control" type="text" style="border-radius: 30px;width: 75%;height: 26px;margin-left: 13%;margin-bottom: 1%;" 
				name="nom" placeholder="Nom du workspace" required="" autofocus="">
			<textarea class="form-control" style="border-radius: 20px;width: 75%;height: 67px;margin-left: 13%;margin-bottom: 1%;resize: none;"
                name="description" placeholder="Description" required="" maxlength="140"></textarea>
			<button class="btn btn-primary" type="submit" style="position: absolute;width: 19%;margin-top: 2%;height: 16%;border-radius: 15px;right: 0;margin-right: 6%;">Créer</button></form>
    </div>
	
	{% include 'include/script.html' %}
	{% include 'include/nav.html' %}
</body>

</html>
